<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="5 minutes">
    <contextName>shiro</contextName>

    <!-- 日志文件存储路径 -->
    <property name="LOG_HOME" value="${APP_HOME:-.}/logs/"/>

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 格式化输出 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %level | %thread | %logger{15} | %class{20}.%method\(%line\) | %X{ip:--} | %X{clientIp:--} | %X{reqTraceId:--} | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Info -->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info/shiro-info.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <!-- 每天生成日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/shiro.%d{yyyy-MM-dd}.%i-info.log.gz</fileNamePattern>
            <!-- 日志文件保留30天 -->
            <maxHistory>30</maxHistory>
            <maxFileSize>1GB</maxFileSize>
        </rollingPolicy>

        <!-- 格式化输出 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %level | %thread | %logger{15} | %class{20}.%method\(%line\) | %X{ip:--} | %X{clientIp:--} | %X{reqTraceId:--} | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Debug -->
    <appender name="debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/debug/shiro-debug.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <!-- 每天生成日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/debug/shiro.%d{yyyy-MM-dd}.%i-debug.log.gz</fileNamePattern>
            <!-- 日志文件保留15天 -->
            <maxHistory>15</maxHistory>
            <maxFileSize>1GB</maxFileSize>
        </rollingPolicy>

        <!-- 格式化输出 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %level | %thread | %logger{15} | %class{20}.%method\(%line\) | %X{ip:--} | %X{clientIp:--} | %X{reqTraceId:--} | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Error -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/error/shiro-error.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error/shiro.%d{yyyy-MM-dd}-error.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <!-- 格式化输出 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %level | %thread | %logger{15} | %class{20}.%method\(%line\) | %X{ip:--} | %X{clientIp:--} | %X{reqTraceId:--} | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 异步日志配置 -->
    <appender name="info_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>20000</queueSize>
        <appender-ref ref="info"/>
    </appender>

    <appender name="debug_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="debug"/>
    </appender>

    <appender name="error_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="error"/>
    </appender>

    <logger name="org.springframework.ui.freemarker" level="INFO"/>
    <logger name="org.springframework.kafka" level="INFO"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="com.ibatis" level="DEBUG"/>
    <logger name="com.baomidou" level="INFO"/>
    <logger name="org.mybatis" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="debug_async"/>
        <!--<appender-ref ref="info_async"/>-->
        <appender-ref ref="error_async"/>
    </root>

</configuration>
